* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(1, 143, 199);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.clock {
  width: 300px;
  height: 300px;
  background: rgb(255, 255, 255, 0.7);
  border-radius: 50%;
  border: 4px solid black;
  position: relative;
}
.number {
  font-size: 25px;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
}
.item1 {
  transform: rotate(30deg);
}
.item2 {
  transform: rotate(60deg);
}
.item3 {
  transform: rotate(90deg);
}
.item4 {
  transform: rotate(120deg);
}
.item5 {
  transform: rotate(150deg);
}
.item6 {
  transform: rotate(180deg);
}
.item7 {
  transform: rotate(210deg);
}
.item8 {
  transform: rotate(240deg);
}
.item9 {
  transform: rotate(270deg);
}
.item10 {
  transform: rotate(300deg);
}
.item11 {
  transform: rotate(330deg);
}
.item12 {
  transform: rotate(360deg);
}
.one {
  transform: rotate(7deg);
  position: absolute;
}
.two {
  transform: rotate(306deg);
  position: absolute;
}
.three {
  transform: rotate(268deg);
  position: absolute;
}
.four {
  transform: rotate(240deg);
  position: absolute;
}
.five {
  transform: rotate(206deg);
  position: absolute;
}
.six {
  transform: rotate(178deg);
  position: absolute;
}
.seven {
  transform: rotate(153deg);
  position: absolute;
}
.eight {
  transform: rotate(120deg);
  position: absolute;
}
.nine {
  transform: rotate(89deg);
  position: absolute;
}
.ten {
  transform: rotate(67deg);
  position: absolute;
}
.eleven {
  transform: rotate(27deg);
  position: absolute;
}
.twelve {
  transform: rotate(3deg);
  position: absolute;
}

.hand {
  width: 10px;
  height: 50%;
  background: black;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%);
  position: absolute;
  transform-origin: bottom;
}
.second {
  height: 45%;
  width: 4px;
  background: red;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
}
.minute {
  height: 40%;
  width: 8px;
  background: black;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
}
.hour {
  height: 40%;
  width: 10px;
  background: black;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
}
.circle {
  width: 15px;
  height: 15px;
  background: rgb(45, 180, 45);
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  border-radius: 50%;
  border: 1px solid gray;
}
